
  li { 
    display: table-cell; 
    position: relative; 
    padding: 10px 0;
  }
 
  li:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(245,158,11);

    background: linear-gradient(180deg, rgba(245,158,11,1) 0%, rgba(252,211,77,1) 35%, rgba(253,230,138,1) 100%);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  li:hover:after { 
    width: 100%; 
    left: 0; 
  }
